.root {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
  width: 100%;
  margin-top: var(--spacing);
}

.row {
  display: flex;
  gap: var(--spacing);
  align-items: center;
}

.title {
  width: 15%;
  flex: 0 0 auto;
}

.value {
  background-color: var(--c-bkg);
  border: 1px solid var(--c-border);
  width: 100%;
  border-radius: var(--border-radius);
  padding: 0.5em 1em;
  color: var(--c-p);
}
