.root {
  width: 100%;
  border-radius: var(--border-radius);
  border: 1px solid var(--c-border);
  padding: 0.5em 0;
  background-color: var(--c-bkg);
}

.item {
  width: 100%;
  display: flex;
  gap: 1em;
  align-items: center;
  padding: 0.5em 1em;
  border: none;
  background-color: var(--c-bkg);

  .input {
    width: 100%;
    padding: 0.4em;
    background-color: #fff;
    border: 1px solid var(--c-border);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
  }
}

.controls {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.showHidePassword {
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 100ms ease-in-out;

  &:hover {
    opacity: 1;
  }

  svg,
  figure {
    display: block;
  }
}
