.root {
}

.file {
  background-color: var(--c-bkg);
  border: 1px solid var(--c-border);
  width: 100%;
  border-radius: var(--border-radius);
  padding: 0.5em 1em;
  color: var(--c-p);
  display: flex;
  align-items: center;
  gap: var(--spacing-small);
}

.image {
  margin-top: var(--spacing-small);
}

.copy {
  margin-left: auto;
}

.download {
  cursor: pointer;

  svg,
  figure {
    display: block;
  }
}
