.button {
  --button-padding-h: 1.4em;
  --button-padding-v: 0.8em;
  --button-main-color: var(--c-grad);
  --button-text-color: var(--c-p-inverse);
  cursor: pointer;
  font-weight: 400;
  line-height: 1;
  padding: var(--button-padding-v) var(--button-padding-h);
  position: relative;
  color: var(--button-main-color);
  display: flex;
  align-items: center;
  transition: all 200ms ease-in-out;
  border-radius: var(--border-radius);
  border: 1px solid var(--button-main-color);

  &:disabled {
    pointer-events: none;
  }

  &.buttonHasIcon {
    --button-padding-h: 1em;
  }
}

.bkg {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  background-color: var(--button-main-color);
  opacity: 0.8;
  will-change: opacity;
  transition: opacity 200ms;
  border-radius: 0.2em;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 1em;
  width: 100%;
  padding: 0 var(--button-padding-h);
  color: var(--button-text-color);
  opacity: 0;
  will-change: opacity;
  transition: opacity 200ms ease-in-out;
  pointer-events: none;
  display: flex;
  gap: 0.5em;

  &:not(:has(.progress)) {
    justify-content: center;
  }
}

.loaderIcon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.buttonIconRight .loader {
  flex-direction: row-reverse;
}

.progress {
  width: 100%;
}

.icon {
  color: var(--button-text-color);
  will-change: opacity;
  transition: opacity 200ms ease-in-out;
  display: block;
  pointer-events: none;

  &.iconLeft {
    margin-right: 0.6em;
  }

  &.iconRight {
    margin-left: 0.6em;
  }
}

.content {
  position: relative;
  color: var(--button-text-color);
  opacity: 1;
  will-change: opacity;
  transition: opacity 200ms ease-in-out;
  white-space: nowrap;
}

/* States */

.button:hover,
.button:focus {
  .bkg {
    opacity: 1;
  }
}

.button:focus {
}

/* Variants */

.buttonIsDisabled {
  pointer-events: none;
  opacity: 0.5;
}

.buttonIsLoading {
  .loader {
    opacity: 1;
  }

  .content,
  .icon {
    opacity: 0;
  }
}

.buttonHasNoText {
  padding: 0.5em;

  .iconLeft {
    margin-right: 0;
  }

  .iconRight {
    margin-left: 0;
  }
}

.buttonNoPadding {
  padding: 0;
}

.buttonSizeSmall {
  font-size: 0.65rem;
}

.buttonSizeBig {
  font-size: 1.5rem;
}

/**
 * Button variants
 */

.appearanceMinimal {
  --button-text-color: var(--button-main-color);
  padding: 0;
  border: none;

  .bkg {
    background-color: transparent;
  }
}
