:root {
  --spacing: 2rem;
  --spacing-small: 1rem;
  --spacing-large: 4rem;
  --spacing-v: 7vh;
  --spacing-v-small: 3vh;
  --spacing-v-large: 10vh;
}
/*
@media (max-width: 800px) {
  :root {
    --space-grid: 1.2rem;
    --space-grid-big: 2.4rem;
    --space-grid-half: 0.6rem;
  }
}
*/
