.types {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1em;
  gap: 1rem;

  .typeLabel {
    cursor: pointer;
    border: 1px solid var(--c-border);
    border-radius: var(--border-radius);
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 5rem;
    height: 5rem;

    &:before {
      content: '';
      position: absolute;
      inset: 0;
      border-radius: var(--border-radius);
      background-color: var(--c-feedback);
      transition: 100ms ease-in-out opacity;
      opacity: 0;
    }

    &:has(.typeRadio:checked) {
      border-color: var(--c-feedback);

      &:before {
        opacity: 0.1;
      }

      .typeIcon {
        opacity: 1;
        color: var(--c-feedback);
      }
    }
  }

  .typeRadio {
    opacity: 0;
    position: absolute;
  }

  .typeValue {
    font-size: 0.75em;
    position: relative;
  }

  .typeIcon {
    opacity: 0.5;
    font-size: 1.5em;
    margin-bottom: 0.35em;
  }
}

.input,
.textarea,
.credentialsLabel {
  background-color: var(--c-bkg);
  border: 1px solid var(--c-border);
  width: 100%;
  border-radius: var(--border-radius);
  padding: 1em;
  color: var(--c-p);
}

.credentials {
  width: 100%;
  border-radius: var(--border-radius);
  border: 1px solid var(--c-border);
  padding: 0.5em 0;
  background-color: var(--c-bkg);
}

.credentialsLabel {
  width: 100%;
  display: flex;
  gap: 1em;
  align-items: center;
  padding: 0.5em 1em;
  border: none;
  background-color: var(--c-bkg);

  .credentialsInput {
    width: 100%;
    padding: 0.4em;
    background-color: #fff;
    border: 1px solid var(--c-border);
    border-radius: var(--border-radius);
  }
}

.textarea {
  height: 12em;
}

.button {
  width: 100%;
  justify-content: center;
}

.error {
  width: 100%;
}

.imageFile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--c-bkg);
  border: 1px solid var(--c-border);
  width: 100%;
  border-radius: var(--border-radius);
  padding: 1em;
  color: var(--c-p);
}

.imageFileButton {
  cursor: pointer;
  color: var(--c-feedback-error);

  opacity: 0.8;

  &:hover {
    opacity: 1;
  }

  svg,
  figure {
    display: block;
  }
}
