.root,
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--spacing);
  width: 100%;
}

.form {
  border-top: none;
}

.textarea {
  background-color: var(--c-bkg);
  border: 1px solid var(--c-border);
  width: 100%;
  border-radius: var(--border-radius);
  height: 12em;
  padding: 1em;
  color: var(--c-p);
}

.button {
  width: 100%;
  justify-content: center;
}

.linkContainer {
  width: 100%;
}
