.root {
}

.error {
  color: var(--c-feedback-error);
  border: 1px solid var(--c-feedback-error);
  border-radius: 0.2em;
  background-color: var(--c-bkg-light);
  padding: 1rem;
}

.buttonWrapper {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.button {
  cursor: pointer;
  opacity: 0.5;
  transition: all 200ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  &:hover {
    opacity: 1;
  }
}

.buttonIcon {
  rotate: 180deg;
}
