.root {
}

.message {
  background-color: var(--c-bkg);
  border: 1px solid var(--c-border);
  width: 100%;
  border-radius: var(--border-radius);
  height: 12em;
  padding: 1em;
  color: var(--c-p);
  margin-top: var(--spacing-small);
}

.messageTitle {
  font-size: var(--fs-big);
}

.buttonWrapper {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.decrypt {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

.decryptButton {
  width: 100%;
  justify-content: center;
}
