.root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.25em;
  width: 100%;

  p {
    font-size: var(--fs-xsmall);
    color: var(--c-p-light);
    text-align: center;

    a {
      color: var(--c-grad);
    }
  }
}
