.root {
}

.linkWrapper {
  margin-top: 1rem;
  width: 100%;
  border: 1px solid var(--c-border);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.2em;
  background-color: var(--c-bkg);
  padding: 1em;
}

.link {
  flex-shrink: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 300;
}

.buttonContainer {
  display: flex;
  gap: 1em;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
}
