.root {
}

.linkWrapper {
  margin-top: 1rem;
  width: 100%;
  border: 1px solid var(--c-border);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.2em;
  background-color: var(--c-bkg);
}

.copy {
  border: 1px solid var(--c-border);
  padding: 0.75rem;
  cursor: pointer;
  transition: 100ms ease-in-out;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--c-border);
    opacity: 0.8;
    transition: 100ms ease-in-out opacity;
  }

  svg {
    position: relative;
    z-index: 10;
  }

  &:hover {
    &:after {
      opacity: 1;
    }
  }

  &.copied {
    border-color: var(--c-feedback-success);
    color: var(--c-feedback-success);
    pointer-events: none;

    &:after {
      background-color: var(--c-feedback-success);
      opacity: 0.4 !important;
    }

    svg {
      scale: 1.2;
    }
  }

  svg,
  figure {
    display: block;
  }
}

.link {
  padding: 0 0.75rem;
  flex-shrink: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: light;
}
