.root {
}

.message {
  margin-top: var(--spacing-small);
}

.messageTitle {
  font-size: var(--fs-big);
}

.buttonWrapper {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.decrypt {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

.decryptButton {
  width: 100%;
  justify-content: center;
}
